<div class="flex flex-col flex-auto w-full">
    <div class="flex flex-wrap w-full max-w-screen-xl mx-auto p-1 md:p-2">
        <div class="flex items-center justify-between w-full">
            <div class="mb-2">
                <h2 class="text-3xl font-semibold tracking-tight leading-8">
                    Gerenciar Pedidos
                </h2>
            </div>
        </div>

        <div class="w-full mt-2">
            <div class="w-full mt-6 grid grid-cols-2 gap-4">
                <mat-form-field class="w-2/4">
                    <mat-icon
                        class="text-gray-400 hidden sm:hidden md:block lg:block"
                        >search</mat-icon
                    >
                    <input
                        matInput
                        [autocomplete]="'off'"
                        [placeholder]="'Buscar'"
                        #searchField
                        (keyup)="pedidosFilter(searchField.value)"
                    />
                </mat-form-field>
            </div>

            <!-- <button
                class="m-2"
                mat-flat-button
                [color]="'primary'"
                (click)="editarPedido()"
            >
                <span class="mx-2">Novo</span>
            </button> -->
        </div>

        <div class="overflow-x-auto w-full">
            <table
                mat-table
                [dataSource]="pedidosList"
                class="overflow-x-auto w-full"
            >

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>Email</th>
                    <td mat-cell *matCellDef="let pedido">
                        {{ pedido?.usuario.email }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="endereco">
                    <th mat-header-cell *matHeaderCellDef>Endereço</th>
                    <td mat-cell *matCellDef="let pedido">
                       cep: {{ pedido?.usuario.pessoa.endereco.cep }}
                    </td>
                </ng-container>

                <!-- Descrição Column -->
                <ng-container matColumnDef="data">
                    <th mat-header-cell *matHeaderCellDef>Data</th>
                    <td mat-cell *matCellDef="let pedido">
                        {{ pedido?.dataHora | date: 'dd/MM/yyyy HH:mm:ss'}}
                    </td>
                </ng-container>

                <!-- City Column -->
                <ng-container matColumnDef="produto">
                    <th mat-header-cell *matHeaderCellDef>Produto</th>
                    <td mat-cell *matCellDef="let pedido">
                        {{ pedido?.produtoId }}
                    </td>
                </ng-container>

                <!-- City Column -->
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef>Status</th>
                    <td mat-cell *matCellDef="let pedido">
                        {{ pedido?.statusPedido }}
                    </td>
                </ng-container>

                <!-- Retirar -->
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>Ações</th>
                    <td mat-cell *matCellDef="let pedido">
                        <button
                            mat-icon-button
                            class="p-1 border border-black rounded-full"
                            (click)="editarPedido(pedido)"
                        >
                            <mat-icon svgIcon="edit"></mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr
                    mat-row
                    *matRowDef="let row; columns: displayedColumns"
                ></tr>
            </table>
        </div>

        <mat-paginator
            class="w-full"
            [pageSizeOptions]="[10, 25, 50, 100]"
            showFirstLastButtons
            aria-label="Selecione a página"
        >
        </mat-paginator>
    </div>
</div>
