<div class="flex flex-col flex-auto w-full">
    <div class="flex flex-wrap w-full mx-auto p-12">
      <div class="flex items-center justify-between w-full">
        <div>
          <h2 class="text-3xl font-semibold tracking-tight leading-8">Pedido</h2>
          <div class="font-medium tracking-tight text-secondary">Informações detalhadas do pedido</div>
        </div>
      </div>

      <div class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-1 xl:grid-cols-1 gap-4 w-full mt-4">
        <mat-form-field>
          <mat-label>Email </mat-label>
          <input matInput [(ngModel)]="pedido.usuario.email" />
        </mat-form-field>
      </div>

      <div class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-1 xl:grid-cols-1 gap-4 w-full mt-4">
        <mat-form-field>
          <mat-label>Status </mat-label>
          <input matInput [(ngModel)]="pedido.statusPedido" />
        </mat-form-field>
      </div>

      <!-- <div class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-1 xl:grid-cols-1 gap-4 w-full mt-4">
        <mat-form-field>
          <mat-label>Preço </mat-label>
          <input matInput [(ngModel)]="pedido.price" />
        </mat-form-field>
      </div> -->

      <!-- <div class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-1 xl:grid-cols-1 gap-4 w-full mt-4">
        <mat-form-field>
          <mat-label>Quantidade </mat-label>
          <input matInput [(ngModel)]="pedido.quantity" />
        </mat-form-field>
      </div> -->

      <div class="grid grid-cols-2 gap-4 w-full mt-4">
        <button mat-flat-button [color]="'warn'" (click)="cancelar()">Cancelar</button>
        <button mat-flat-button [color]="'primary'" (click)="salvar()">Salvar</button>
      </div>
    </div>
  </div>

